pyyaml
python-dateutil
readability-lxml
beautifulsoup4
lxml
feedparser
pandas
streamlit
langchain
langgraph
langchain-community
langchain-core
sentence-transformers
faiss-cpu
requests
torch
tqdm
numpy
transformers
accelerate
bitsandbytes
trafilatura
tldextract
ollama
matplotlib
seaborn
scikit-learn



